---
import Layout from '../layouts/Layout.astro';
import Webflow from '../components/Webflow.astro';



---

<Layout title="Welcome to Astro.">
	<main>
		<Webflow />
	</main>
</Layout>

<style>

	
</style>
